.hidden{
    display: none;
}

#header{
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user-info{
    min-width: 400px;
    display: flex;
    align-items: center;
}

#btn-box{
    margin-left: 20px;
}

#weather{
    min-width: 400px;
    display: flex;
    justify-content: end;
}
#weather > span{
    font-size: 20px;
    font-weight: 800px;
}

#clock-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clock-box > h2{
    font-size: 30px;
}

#content{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#todo-list{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#quote{
    margin-bottom: 20px;
}
#quote > span{
    color: white;
}

#todo-list{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 600px;
    grid-auto-rows: 50px;
}
.innerGrid{
    display: flex;
    justify-content: center;
    align-items: center;
}